@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  body {
    font-family: 'Lora', serif;
  }
}

:root {
  --bg-color: white;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  #root {
    padding: 0px;
  }
}